body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

input {
    display: block;
    width: 100%;
    margin-bottom: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #5f9341;
}

button {
    background-color: #5f9341;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
}

#delete-btn {
    background-color: white;
    color: #5f9341;
    box-sizing: border-box;
    border: 1px solid #5f9341;
    padding: 9px 19px;
}

li a {
    color: #5f9341;
}

ul {
    margin-top: 20px;
    padding: 0;
}
ul li {
    list-style-type: none;
    margin-top: 5px;
}